/* ---------- root variables ---------- */
:root {
  --camino-green: #22523C;
  --camino-blue: #002F38;
  --camino-yellow: rgb(213, 216, 34);
  --text-color-light: #FFF1DD;
  --text-color-dark: #002F38;
  --font:
}

/* ---------- general styling ---------- */
@font-face {
  font-family: 'JosefinSans';
  src: url('font/JosefinSans.ttf');
}

@font-face {
  font-family: 'JosefinSansItallic';
  src: url('font/JosefinSans-Italic.ttf');
}

html {
  color: var(--text-color-dark);
  font-family: 'JosefinSans', Arial, sans-serif;
  height: 100%;
  text-align: left;
  width: 100%;
  /* font-weight: 200; */
}

body {
  margin: 0;
}

/* ---------- font styling ---------- */
h1,
h2,
h3 {
  font-family: 'abolition-soft', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-light);
}

h1 {
  font-size: 4em;
  letter-spacing: 3px;
  letter-spacing: 0.2em;
  /* -webkit-text-stroke: 2px var(--camino-blue); */
}

h2 {
  font-size: 2.5em;
  letter-spacing: 0.2em;
}

h3 {
  font-size: 2.2em;
  letter-spacing: 0.2em;
}

a {
  text-decoration: none;
}

p,
li {
  color: var(--text-color-light);
  letter-spacing: 0em;
  line-height: 1.5em;
  font-size: .9em;
}

li {
  list-style-type: square;
  list-style-position: inside;

  display: inline;
  text-align: justify;

  /* padding-left: 0; */
}

strong {
  font-weight: bold;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
}

aside {
  background-color: var(--camino-blue);
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 10vw;
}

#content {
  width: 90vw;
}


.none {
  display: none;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.tabNav {
  list-style: none;
  /* display: inline; */
  color: var(--camino-blue);
  text-transform: uppercase;
  cursor: pointer;
}



/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

hr {
  height: .25rem;
  width: 27%;
  margin: 0;
  background: var(--camino-yellow);
  border: none;
  transition: .3s ease-in-out;
}

/* .descriptionTab:hover ~ hr {
  margin-left: 0%;
  width: 27%;
}

.imagesTab:hover ~ hr {
  margin-left: 32%;
  width: 20%;
}

.commentsTab:hover ~ hr {
  margin-left: 57%;
  width: 50%;
} */



/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- navigation styling ---------- */
#logoDark {
  height: 12vh;
  margin-top: 3vh;
}

nav {
  height: 100vh;
  width: 10vw;
}

.navbtn {
  display: block;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
  margin: 0vh auto;
  font-family: 'abolition-soft';
  font-size: 1.5em;
}

.navbtn:hover {
  border-color: var(--camino-yellow);
}

.selected {
  background-color: var(--camino-yellow);
  stroke: var(--camino-yellow);
}

.selectedLine {
  stroke: var(--camino-yellow);
}

span {
  display: block;
  width: .3vh;
  height: .3vh;
  border-radius: 50%;
  background-color: var(--text-color-light);
  margin: .3vh auto;
}

/* ---------- home page styling ---------- */
#frontpageImage {
  background-image: url(/images/lake.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90vw;
  height: 75vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#frontpageImage div {
  display: inline-block;
  vertical-align: middle;
}

#frontpageImage img {
  height: 40vh;
  vertical-align: middle;
  margin-top: 10vh;

}

#frontpageImage h1 {
  font-size: 10vh;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
}

#frontpageImage h2 {
  display: inline-block;
  vertical-align: middle;
}

#frontpageSection {
  text-align: left;
  width: 90vw;
  height: 25vh;
  background-color: var(--camino-green);
  display: flex;
  flex-wrap: wrap;
}

#frontpageSection div {
  width: 29%;
  margin: 0 2%;
}

#frontpageSection img {
  height: 2.5em;
  margin-top: 4%;
}

h2 {
  margin: 2% 0 0 0;
}

/*  map  */
#mapid {
  height: 100vh;
  width: 90vw;
  position: absolute;
  z-index: 0;
}

.maparea {
  position: relative;
  height: 100vh;
  /* overflow: visible; */
}

#infoBox {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 3px solid var(--camino-blue);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 13em;
  color: var(--text-color-light);
  /* height: 200px; */
  z-index: 5;

}

#grid-posts {
  position: absolute;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: visible;
  right: 3em;
  margin-top: 5vh;
  width: 30vw;
}

aside h3 {
  font-size: 3vh;
  margin: 5vh 0 3vh;
}

/* img {
  width: 100%;
} */

.boxIcon {
  display: flex;
  flex-wrap: wrap;


}

.boxIcon input {
  align-self: center;
  cursor: pointer;
}

.boxIcon p {
  width: 50%;
  text-align: left;
  padding-left: 0.2em;
  align-self: center;
}

.boxIcon img {
  max-width: 15%;
  height: 15%;
  overflow: hidden;
  align-self: center;

}



/* ---------- next page styling ---------- */

/* ---------- styling ---------- */
/* Grid container */

.grid-item {
  border: 7px solid var(--camino-green);
  border-radius: 25px;
  background-color: var(--camino-green);
  margin: 1em;
}

.dropdown {
  background-color: rgba(255, 241, 221, 0.527);
  border-radius: 25px;
  display: none;
  padding: 2% 2%;
  color: var(--camino-blue);
}

.dropdown p {
  color: var(--camino-blue);
  /* font-size: 1em; */
}

.backgroundimg {
  /* background-image: url("http://dittejohannejustesen.dk/wordpress/wordpress-cfh/wp-content/uploads/2020/05/rapsmark-scaled.jpg"); */
  background-color: #cccccc;
  height: 40vh;
  position: relative;
  /* -webkit-border-radius: 50px;
  -moz-border-radius: 50px; */
  border-radius: 25px;
  /* border: 7px solid var(--camino-green); */
  width: 100%;
  height: 30vh;
}

.title-distance {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* font-family: 'JosefinSans', Arial, sans-serif; */
}

.title-distance h3,
.title-distance h4,
.start-end h5 {
  margin: 0;
  padding: 0 2% 0 2%;
  color: var(--text-color-light);
  /* text-transform: uppercase; */


}

.title-distance h4 {
  margin-top: 5%;
}

.title-distance h4,
.start-end h5 {
  /* margin-top: 5%; */
  font-family: 'JosefinSans', Arial, sans-serif;

}

.title-distance h4 {
  margin-top: 5%;
}

.start-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color-light);
  padding-bottom: 2%;
}

#text-backgroundimg {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(25, 57, 42, 0.8);
  border-radius: 0 0 24px 24px;
}














/* ---------- topbar styling ---------- */
/* --------------------- Is not used for now -------------------*/
/* .topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
} */

/* ---------- tabbar styling ---------- */
/* --------------------- Is not used for now -------------------*/
/* .tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
} */

/* Style the links inside the navigation bar */
/* --------------------- Is not used for now -------------------*/
/* .tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
} */

/* Change the color of links on hover */
/* --------------------- Is not used for now -------------------*/
/* .tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
} */

/* Add a color to the active/current link */
/* --------------------- Is not used for now -------------------*/
/* .tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
} */


/* ---------- styling ---------- */
/* Grid container */
/* --------------------- Is not used for now -------------------*/
/* .grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}

iframe {
  border: none;
  width: 100%;
  height: 250px;
} */

/* input form stryling */
/* --------------------- Is not used for now -------------------*/
/* form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
} */